.work-area {
    width: 100%;

    &__container {
        max-width: 1400px;
        width: 90%;
        height: 90vh;
        margin: 0 auto;
        background-color: #242631;
        border-bottom: 1px solid #353948;
    }

    &__inner {
        overflow: hidden;
        display: flex;
        height: 100%;
        width: 100%;
    }
}


