.modal {
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0,0,0,0.7);
    position: fixed;
    transform: scale(0);
    z-index: 1000;

    &__content {
        max-width: 500px;
        max-height: 500px;
        padding: 40px;
        background-color: white;
        border-radius: 10px;
        text-align: center;
        overflow-y: scroll;
        overflow-x: hidden;
    }

    &__btn-wrapper {
        position: relative;
        margin-bottom:30px;
    }

    &__btn {
        width: 150px;
        height: 30px;
        border-radius: 20px;
        background-color: rgb(165, 78, 177);
        color: white;
        &:hover {
            transition: 0.5s;
            color: rgb(207, 226, 37);
            background-color: rgb(159, 100, 167);
        }
    }

    &__btn-alert {
        position: absolute;
        width: 200px;
        left:50%;
        right:50%;
        color: red;
        font-weight: 700;
        transform: translate(-50%, 0%);
    }
}


.modal.active {
    transform: scale(1);
}
