.header {
    width: 100%;

    &__container {
        width: 90%;
        max-width: 1400px;
        height: 5vh;
        margin: 0 auto;
        background-color: #242631;
        border-bottom: 1px solid #353948;
    }

    &__inner {
        display: flex;
        align-items: center;
        padding: 9px;
    }

    &__get-svg-btn {
        width: 100px;
        background-color: aliceblue;
        border-radius: 20px;
        height: 30px;
        &:hover {
            background-color: #978831;
            transition: 0.5s;
        }
    }
}


