.header__container {
    max-width: 1400px;
    height: 5vh;
    margin: 0 auto;
    background-color: #242631;
    border-bottom: 1px solid #353948;
}

.header__wrapper {
    display: flex;
    align-items: center;
    padding: 9px;
}